/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*******
header  
**********/
header {
    height: 80px;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}
.logo {
    width: 15%;
}
.logo img {
    width: 100%;
}